.charles__education {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.charles__education__container {
  margin-top: min(5vw, 2rem);
  margin-bottom: min(10vw, 2rem);
}

.charles__education__container-center_aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

.charles__education__container-center_aligned img {
  max-block-size: min(35vw, 6rem);
  margin-bottom: min(5vw, 0.3rem);
  pointer-events: none;
  margin-top: 0;
}


.charles__education__container-center_aligned h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: var(--font-size__identifier);
  line-height: var(--line-height__identifier);
  color: black;
  margin-bottom: min(6vw, 1rem);
}

.charles__education__container-left_aligned {
  justify-content: left;
  align-items: left;
  text-align: left;
  margin-bottom: 0;
}

.charles__education__container-left_aligned p {
  font-family: var(--font-family);
  color: black;   
  font-size: var(--font-size__text);
  font-weight: 500;
  margin-bottom: 0;
}