.charles__education {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: min(10vw, 2rem);
}

.charles__education__container {
  margin-top: min(5vw, 2rem);
  margin-bottom: 0;
}

.charles__education__container-center_aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

.charles__education__container-center_aligned img {
  max-block-size: min(35vw, 6rem);
  margin-bottom: min(5vw, 0.3rem);
  pointer-events: none;
  margin-top: 0;
}


.charles__education__container-center_aligned h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: var(--font-size__identifier);
  line-height: var(--line-height__identifier);
  color: black;
  margin-bottom: min(6vw, 1rem);
}

.charles__education__container-left_aligned {
  justify-content: left;
  align-items: left;
  text-align: left;
  margin-bottom: 0;
}

.charles__education__container-left_aligned p {
  font-family: var(--font-family);
  color: black;   
  font-size: var(--font-size__text);
  font-weight: 500;
  margin-bottom: 0;
}

.charles__education__button {
  display: flex;
  flex-direction: column;
  margin-top: min(5vw, 1rem);
}

.charles__education__button h5 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  vertical-align: middle;
}

.charles__education__button h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size__text);
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.charles__education__button span {
  cursor: pointer;
  border-width: min(1vw, 0.2rem);
  border-color:darkgoldenrod;
  border-style: solid;
  border-radius: 2%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size__title);
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  background-color:limegreen;
  vertical-align: middle;
}

.charles__education__button span:hover {
  background-color: darkgoldenrod;
}

.charles__education__button span p {
  color: white;
  margin-bottom: 0;
}

.charles__education__button span p:hover {
  color: white;
}

.charles__education__table-container {
  display: block;
  margin-bottom: min(5vw, 1rem);
  margin-top: min(5vw, 1rem);
  font-family: var(--font-family);
}

.charles__education__table-container h2 {
  justify-content: left;
  align-items: left;
  text-align: left;
  font-weight: 800;
  font-size: var(--font-size__title);
  line-height: var(--line-height__title);
  color: black;
  margin-bottom: 0;
}

.charles__education__table-format {
  table-layout: fixed;
  color: black;
  background-color: antiquewhite;
  width: 100%;
}

.charles__education__table-format thead {
  border-color: black;
  border-top: var(--table-border) solid;
  border-bottom: 0;
  background-color: black;
  text-align: center;
}

.charles__education__table-format th {
  border-color: black;
  border-right: var(--table-border) solid;
  border-left: var(--table-border) solid;
}

.charles__education__table-format th p {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-family);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  font-weight: 800;
}

.charles__education__table-format tbody {
  border-top: 0px;
  border-bottom: var(--table-border) solid;
  border-left: var(--table-border) solid;
  border-right: var(--table-border) solid;
}

.charles__education__table-format td {
  border-left: var(--table-border) solid;
  border-top: var(--table-border) solid;
  padding-left: min(2vw, 0.5rem);
  padding-right: min(2vw, 0.5rem);
  font-family: var(--font-family);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  font-weight: 500;
  vertical-align: top;
}

.charles__education hr {
  margin-top: min(2vw, 0.8rem);
  margin-bottom: 0;
}