.charles__achievements {
  display: flex;
  flex-direction: column;
  background: var(--color-achievements);
}

.charles__achievements-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: min(3vw, 3rem);
}

.charles__achievements-heading h1 {
  font-size: var(--font-size__header);
  line-height: var(--line_height__header);
  font-weight: 800;
  font-family: var(--font-family);
}