.charles__header {
  display: flex;
}

.charles__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: min(10vw, 3rem);
}

.charles__header-content h2 {
  font-size: var(--font-size__home);
  line-height: var(--line_height__home);
  font-weight: 800;
  font-family: var(--font-family);
  margin-bottom: 0;
}

.charles__header-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size__identifier);
  line-height: var(--line-height__identifier);
  color: var(--color-bg);
  margin-top: min(3vw, 0.8rem);
  margin-bottom: min(10vw, 1rem);
}

.charles__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charles__header-image img { 
  height: min(50vw, 22rem);
  border-radius: 100%;
  margin-bottom: min(20vw, 3rem);
  pointer-events: none;
}

@media screen and (max-width: 1050px) {
  .charles__header {
    flex-direction: column;
  }

  .charles__header-content {
    margin-right: 0;
  }
}