.charles__home {
  background: var(--color-home);
}

.charles__home h1 {
  font-family: var(--font-family);
  line-height: var(--line-height__header);
  font-weight: 800;
  font-size: var(--font-size__header);
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}