.charles__features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: min(6vw, 7rem);
}

.charles__features-title {
  flex: 1;
  margin-right: min(20vw, 4rem);
}

.charles__features-title h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: var(--font-size__identifier);
  line-height: var(--line-height__identifier);
  color: black;
  margin-bottom: min(0.5vw, 0.2rem);
}

.charles__features-title div {
  width: min(8vw, 2.2rem);
  height: min(1vw, 0.3rem);
  background: var(--gradient-bar);
  box-shadow: 0 min(10vw, 2rem) min(10vw, 2rem) rgba(0, 0, 0, 0.25);
  margin-bottom: min(1.5vw, 0.15rem);
}

.charles__features-text {
  flex: 2;
  display: flex;
}

.charles__features-text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  color: black;
  margin-bottom: min(7vw, 1.2rem);
}

@media screen and (max-width: 925px) {
  .charles__features{
    flex-direction: column;
  }

  .charles__features-title {
    margin-right: 0;
  }
}