.charles__experiences {
  background: var(--color-experiences);
  display: flex;
  flex-direction: column;
}

.charles__experiences h1 {
  align-self: center;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: var(--font-size__header);
  line-height: var(--line-height__header);
  margin-bottom: 0;
}

.charles__experiences p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size__title);
  line-height: var(--line-height__title);
  color: black;
  margin-top: min(3vw, 0.5rem);
  margin-bottom: min(15vw, 2rem);
}

.charles__experiences__container-odd_variation {
  background: lightgray;
}

.charles__experiences__container-even_variation {
  background: rgb(213, 222, 170);
}

.charles__experiences__container-even_variation,
.charles__experiences__container-odd_variation {
  padding: min(10vw, 5rem) min(10vw, 3.5rem);
}

.charles__experiences__container-format p,
.charles__experiences__container-description p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size__text);
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.charles__experiences__container-format {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0;
}

.charles__experiences__container-format h2 {
  flex: 1.3;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  margin-right: min(30vw, 1.5rem);
  margin-bottom: 0;
}

.charles__experiences__container-format h3 {
  flex: 1;
  margin-right: min(15vw, 0.8rem);
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  margin-bottom: 0;
}

.charles__experiences__container-description {
  display: flex;
  flex-direction: column;
  margin-top: min(5vw, 1rem);
}

.charles__experiences__container-description h5 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  vertical-align: middle;
}

.charles__experiences__container-description span {
  cursor: pointer;
  border-width: min(1vw, 0.2rem);
  border-color:darkgoldenrod;
  border-style: solid;
  border-radius: 2%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size__text);
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  background-color:limegreen;
  vertical-align: middle;
}

.charles__experiences__container-description span:hover {
  background-color: darkgoldenrod;
}

.charles__experiences__container-description span p {
  color: white;
}

.charles__experiences__container-description span p:hover {
  color: white;
}

@media screen and (max-width: 780px) {
  .charles__experiences__container-format {
    flex-direction: column;
  }

  .charles__experiences__container-format h2,
  .charles__experiences__container-format h3 {
    margin-right: 0;
  }

  .charles__experiences__container-format h3 {
    text-align: left;
  }
}