.charles__footer {
    background: var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.charles__footer img {
    width: min(35vw, 5.5rem);
    height: auto;
}

.charles__footer h1 {
    font-family: var(--font-family);
    color: white;
    font-weight: 500;
    font-size: var(--font-size__text);
    line-height: var(--line-height__text);
}

.charles__footer-padding {
    padding: min(5vw, 3rem) min(6vw, 6rem);
}

.charles__footer__nav_link {
    margin-bottom: min(2vw, 1rem);
}

.charles__footer__nav_link:hover {
    background: yellowgreen;
    box-shadow: 0 0 0 min(0.2vw, 0.2rem) yellowgreen;
    border-radius: 10%;
}

@media screen and (max-width: 150px) {
    .charles__footer__nav_link:hover {
        background: transparent;
        box-shadow: none;
    }
}