.charles__common_project {
    display: flex;
    flex-direction: column;
    margin-bottom: min(35vw, 3rem);
}

.charles__common_project__slideshow {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.charles__common_project__slideshow h1 {
    font-family: var(--font-family);
    font-size: var(--font-size__sub_heading);
    font-weight: 800;
    margin-bottom: min(2vw, 0.2rem);
}

.charles__common_project__identifier {
    display: flex;
    flex-direction: column;
    margin-top: min(2vw, 1rem);
    justify-content: left;
    text-align: left;
    align-items: left;
    align-self: left;
}

.charles__common_project__identifier h2,
.charles__common_project__description h2,
.charles__common_project__links h2 {
    font-family: var(--font-family);
    font-size: var(--font-size__title);
    line-height: var(--line-height__title);
    font-weight: 800;
}

.charles__common_project__identifier h2 {
    display: inline-block;
    margin-bottom: min(-0.2vw, 0rem);
}


.charles__common_project__identifier p {
    display: inline-block;
    margin-left: min(8vw, 0.5rem);
    font-family: var(--font-family);
    font-size: var(--font-size__title);
    line-height: var(--line-height__title);
    font-weight: 500;
}

.charles__common_project__description {
    display: flex;
    flex-direction: column;
    margin-top: min(2vw, 0.5rem);
    margin-bottom: min(2vw, 2.5rem);
}

.charles__common_project__description p {
    font-family: var(--font-family);
    font-size: var(--font-size__text);
    line-height: var(--line-height__text);
    font-weight: 500;
    margin-top: 0;
}

.charles__common_project__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.charles__common_project__links-section {
    display: inline-block;
    margin-bottom: min(1vw, 0.5rem);
}

.charles__common_project__links-section h3,
.charles__common_project__links-section a {
    display: inline-block;
    margin-left: min(3vw, 0.5rem);
    font-family: var(--font-family);
    font-size: var(--font-size__title);
    line-height: var(--line-height__title);
    font-weight: 500;
    color: gray;
}

.charles__common_project__links h2 {
    display: inline-block;
}

.charles__common_project__links a {
    color: black;
}

.charles__common_project__links a:hover {
    cursor: pointer;
    transition: 150ms;
    border-radius: 8%;
    color: lightskyblue;
    box-shadow: 0 0 0 min(2vw, 0.35rem) black;
    background: black;
}

@media screen and (max-width: 200px) {
    .charles__common_project__identifier h2 {
        margin-bottom: min(-8vw, -0.3rem);
    }
}

@media screen and (max-width: 135px) {
    .charles__common_project__description {
        margin-bottom: min(-6vw, -1.5rem);
    }

    .charles__common_project__links-section {
        margin-bottom: min(-10vw, -0.8rem);
    }
}

@media screen and (max-width: 100px) {
    .charles__common_project__identifier h2 {
        margin-bottom: min(-16vw, -0.5rem);
    }

    .charles__common_project__description p {
        margin-top: min(-2vw, -0.35rem);
    }

    .charles__common_project__links-section {
        margin-bottom: min(-10vw, -1.1rem);
    }
}